html {
    font-size: calc(0.625vmin + 0.75rem);
    height: 100%;
    width: 100%;
}

body {
    font-weight: bold;
    background-color: rgb(23, 23, 41);
}

.links {
    text-decoration: none;
    color: white;
    transition: .5s;
    letter-spacing: .5px;
}

.container {
    width: 600px;
}

.main-img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin-bottom: .625rem;
}

li {
    list-style: none;
    background-color: rgb(44, 44, 70);
    padding: 1rem 1.25rem;
    border-radius: 7px;
    margin-bottom: .625rem;
}

#myLinks li:hover {
    background-color: white;
}

#myLinks li:hover a {
    color: rgb(44, 44, 70);
}

#myLinks li,
#myLinks li a,
i {
    transition: .5s;
}

.list-styling {
    font-size: 1.5rem;
    padding: 0 1.2rem;
    margin: 0;
}

li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-styling:nth-child(1) a i {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-styling:nth-child(2) a i {
    color: #00B6F1;
}

.list-styling:nth-child(3) a i {
    color: #0077b5;
}

.list-styling:nth-child(4) a i {
    color: #738ADB;
}

.list-styling i:hover {
    transform: rotate(360deg) scale(1.1);
}

#myLinks {
    display: grid;
    padding: 0;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.grid-two {
    grid-column: 1 / 3;
}

#myLinks .hover-remove:hover,
#myLinks .hover-remove li:hover {
    background-color: rgb(44, 44, 70);
}

@media screen and (max-width: 576px) {
    #myLinks {
        display: block;
    }
    .container {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 100vw;
    }
}

@media screen and (min-height:900px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    #myLinks {
        grid-gap: 30px;
    }
    .container {
        width: 900px;
    }
}